<% include partials/head.ejs %>

<section id="detail">

	<article>
		<img src="<%= residence.HoofdFoto %>" />
		<h1><%= residence.Adres%></h1>
		<p><%= residence.Postcode%> <%= residence.Plaats %></p>
		<p><%= residence.objectType %></p>
		<p><%- residence.PrijsGeformatteerd %></p>
		<p>Ligging: <%= residence.Ligging %></p>
		<p><%= residence.Makelaar %></p>
	</article>
	
</section>
