<% include partials/head.ejs %>

<section id="overview">

	<% for(var i = 0; i < residences.Objects.length; i++) {%>
	
	  <article>
			<img src="<%= residences.Objects[i].FotoLarge %>" />
			<h1><a href="/residences/<%= residences.Objects[i].Id%>"><%= residences.Objects[i].Adres %></a></h1>
			<p><%= residences.Objects[i].Postcode %> <%= residences.Objects[i].Woonplaats %></p>
			<p><%- residences.Objects[i].PrijsGeformatteerdHtml %></p>
			<p>Aantal kamer: <%= residences.Objects[i].AantalKamers %></p>
	  </article>
	<% } %>

</section>

<% include partials/footer.ejs %>